@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-evenly;
  background: rgb(177, 238, 239);
  background: linear-gradient(347deg, rgb(177, 238, 239) 56%, rgb(248, 249, 246) 100%);
}

.left-container {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  height: 45px;
  width: 250px;
  border-radius: 15px;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-family: "Indie Flower", "comic Sans";
  font-weight: bold;
  font-size: 2rem;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 45px;
  width: 40px;
  border: none;
  background: white;
  color: rgb(17, 210, 214);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-left: 1vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.list-container {
  height: 50vh;
  width: 30vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(27, 61, 80);
  font-size: 1.5rem;
  font-family: "Indie Flower", "comic Sans";
  font-weight: bold;
}

.item {
  display: flex;
  align-items: center;
  height: 40px;
  width: auto;
  border-radius: 15px;
  text-align: center;
  margin: 2vh;
  list-style: none;
  font-size: 2rem;
}
.item p {
  padding: 0 15px;
  margin-left: 1vw;
}

i:hover {
  color: rgb(17, 210, 214);
}

.deleteBtn,
.editBtn,
.saveBtn {
  cursor: pointer;
}

.saveBtn {
  display: none;
}

.drag-me {
  position: absolute;
  display: flex;
  left: 4vw;
  bottom: 10vh;
  font-size: 1.2rem;
  color: rgb(17, 210, 214);
  font-family: "Indie Flower", "comic Sans";
  font-weight: bold;
}

img {
  position: absolute;
  height: 8vh;
  left: 5vw;
  bottom: 13vh;
}

.right-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5vh;
  width: 40vw;
  height: 90vh;
  padding: 5vh 15vw 5vh 0vw;
}

.grocery-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-family: "Indie Flower", "comic Sans";
  color: rgb(27, 61, 80);
  font-size: 0.8rem;
}
.grocery-list i {
  font-size: 1.5rem;
}

.title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -27px;
  height: auto;
  width: 130px;
  padding: 3px 0px;
  background: rgb(235, 229, 75);
  border-radius: 8%;
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 1.5rem;
}

.add-item-title {
  top: 5vh;
  width: 300px;
  background: rgb(17, 210, 214);
  font-size: 2.5rem;
}

.meat-fish {
  grid-column: 1/2;
  grid-row: 1/2;
  background: linear-gradient(327deg, rgba(245, 189, 242, 0.5) 45%, rgba(255, 255, 255, 0.5) 100%);
}

.produce {
  grid-column: 1/2;
  grid-row: 2/4;
  background: linear-gradient(327deg, rgba(159, 255, 162, 0.5) 45%, rgba(255, 255, 255, 0.5) 100%);
}

.other {
  grid-column: 1/2;
  grid-row: 4/5;
  background: linear-gradient(327deg, rgba(17, 210, 214, 0.3) 45%, rgba(255, 255, 255, 0.5) 100%);
}

.household {
  grid-column: 2/3;
  grid-row: 1/2;
  background: linear-gradient(327deg, rgba(159, 255, 162, 0.5) 45%, rgba(255, 255, 255, 0.5) 100%);
}

.frozen {
  grid-column: 2/3;
  grid-row: 2/3;
  background: linear-gradient(327deg, rgba(17, 210, 214, 0.3) 45%, rgba(255, 255, 255, 0.5) 100%);
}

.dry-goods {
  grid-column: 2/3;
  grid-row: 3/5;
  background: linear-gradient(327deg, rgba(245, 189, 242, 0.5) 45%, rgba(255, 255, 255, 0.5) 100%);
}

.line {
  padding-top: 2vh;
  border-bottom: rgb(27, 61, 80) 2px dotted;
  height: 5px;
  width: 350px;
}/*# sourceMappingURL=style.css.map */